<!-- Main jumbotron for a primary marketing message or call to action -->
<%if params[:controller]=='home'%>
	<div class="jumbotron container-fluid">
		<div class="container">
			<h1>Predix CLIE</h1>
			<p>List of all Point Tables from Database</p>
		</div>
	</div>
<%end%>