<!-- Main jumbotron for a primary marketing message or call to action -->
<%if params[:controller]=='home'%>
	<div class="jumbotron">
		<div class="container">
			<h1>Predix CLIE</h1>
		</div>
	</div>
<%end%>