<div class="row">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
          <tr>
            <th>Point Name</th>
            <th>Point Type</th>
            <th>Point Origin</th>
            <th>Resource ID</th>                
          </tr>
      </thead>
      <tbody>
        <% unless @points.empty? %>
        <% @points.each do |point| %>
          <tr>            
            <td><%=point.pt_id%></td>
            <td><%=point.pt_type%></td>
            <td><%=point.pt_origin%></td>
            <td><%=point.resource_id%></td>           
          </tr>
        <% end %>
        <% else %>
        <tr>
          <td colspan="0">Nothing to see here move along please</td>
        </tr>
        <% end %>           
      </tbody>
     </table> 
    <p><a class="btn btn-default" href="/home/index" role="button">Home &raquo;</a></p>
  </div>
</div>